In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv("./titanic.csv")

In [3]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [5]:
columns_to_drop = ['PassengerId','Name','Ticket','Cabin','Embarked']

data_clean = data.drop(columns_to_drop, axis=1)

In [7]:
data_clean.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [8]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.8+ KB

In [9]:
le = LabelEncoder()

data_clean["Sex"] = le.fit_transform(data_clean["Sex"])

# female : 0 , male : 1

In [10]:
data_clean.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [11]:
data_clean = data_clean.fillna(data_clean["Age"].mean())

In [12]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int64
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int64(5)
memory usage: 48.8 KB

In [13]:
data_clean.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208
std,0.486592,0.836071,0.477990,13.002015,1.102743,0.806057,49.693429
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400
50%,0.000000,3.000000,1.000000,29.699118,0.000000,0.000000,14.454200
75%,1.000000,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200

In [14]:
data_clean.iloc[4]

Survived     0.00
Pclass       3.00
Sex          1.00
Age         35.00
SibSp        0.00
Parch        0.00
Fare         8.05
Name: 4, dtype: float64

In [15]:
input_cols = ['Pclass','Sex','Age','SibSp','Parch','Fare']
output_cols = ['Survived']

X = data_clean[input_cols]
y = data_clean[output_cols]

print(X.shape, y.shape)

(891, 6) (891, 1)

In [16]:
def entropy(col):
    counts = np.unique(col,return_counts=True)
    
    N = float(col.shape[0])
    
    ent = 0.0
    for ix in counts[1]:
        p = ix / N
        ent += (-1.0*p*np.log2(p))
    
    return ent

In [28]:
def divide_data(x_data, fkey, fval):
    
    x_left = pd.DataFrame([], columns=x_data.columns)
    x_right = pd.DataFrame([], columns=x_data.columns)
    
    for ix in range(x_data.shape[0]):
        val = x_data[fkey].iloc[ix]
        
        if val <  fval:
            x_left = x_left.append(x_data.iloc[ix])
        else:
            x_right = x_right.append(x_data.iloc[ix])
            
    return x_left,x_right

In [18]:
x_left, x_right = divide_data(data_clean, 'Sex', 0.5)

In [19]:
x_left.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
count,314.000000,314.000000,314.0,314.000000,314.000000,314.000000,314.000000
mean,0.742038,2.159236,0.0,28.216730,0.694268,0.649682,44.479818
std,0.438211,0.857290,0.0,12.877543,1.156520,1.022846,57.997698
min,0.000000,1.000000,0.0,0.750000,0.000000,0.000000,6.750000
25%,0.000000,1.000000,0.0,21.000000,0.000000,0.000000,12.071875
50%,1.000000,2.000000,0.0,29.699118,0.000000,0.000000,23.000000
75%,1.000000,3.000000,0.0,35.000000,1.000000,1.000000,55.000000
max,1.000000,3.000000,0.0,63.000000,8.000000,6.000000,512.329200

In [21]:
x_left.head(5)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
1       1.0     1.0  0.0  38.0    1.0    0.0  71.2833
2       1.0     3.0  0.0  26.0    0.0    0.0   7.9250
3       1.0     1.0  0.0  35.0    1.0    0.0  53.1000
8       1.0     3.0  0.0  27.0    0.0    2.0  11.1333
9       1.0     2.0  0.0  14.0    1.0    0.0  30.0708

In [20]:
x_right.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
count,577.000000,577.000000,577.0,577.000000,577.000000,577.000000,577.000000
mean,0.188908,2.389948,1.0,30.505824,0.429809,0.235702,25.523893
std,0.391775,0.813580,0.0,13.009478,1.061811,0.612294,43.138263
min,0.000000,1.000000,1.0,0.420000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,1.0,23.000000,0.000000,0.000000,7.895800
50%,0.000000,3.000000,1.0,29.699118,0.000000,0.000000,10.500000
75%,0.000000,3.000000,1.0,35.000000,0.000000,0.000000,26.550000
max,1.000000,3.000000,1.0,80.000000,8.000000,5.000000,512.329200

In [22]:
def information_gain(x_data, fkey, fval):
    
    left,right = divide_data(x_data, fkey, fval)
    
    l = float(left.shape[0]/x_data.shape[0])
    r = float(right.shape[0]/x_data.shape[0])
    
    if left.shape[0] == 0 or right.shape[0] == 0:
        return -100000
    
    return entropy(x_data.Survived) - (l*entropy(left.Survived) + r*entropy(right.Survived))

In [29]:
for fx in X.columns:
    print (fx)
    print (information_gain(data_clean, fx, data_clean[fx].mean()))

Pclass
0.07579362743608165
Sex
0.2176601066606142
Age
0.001158644038169343
SibSp
0.009584541813400071
Parch
0.015380754493137916
Fare
0.042140692838995464

In [53]:
class DecisionTree:
    
    def __init__(self, depth=0,max_depth=5):
        
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.depth = depth
        self.max_depth = max_depth
        self.target = None
        
    def train(self, X_train):
        print (self.depth, "#"*10)
        
        features = ['Pclass','Sex','Age','SibSp','Parch','Fare']
        
        inf_gains = []
        
        for ix in features:
            inf_gains.append((information_gain(X_train, ix, data_clean[ix].mean())))
        
        self.fkey = features[np.argmax(inf_gains)]
        self.fval = X_train[self.fkey].mean()
        
        data_left,data_right = divide_data(X_train,self.fkey, self.fval)
        
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop=True)
        
        if data_left.shape[0] == 0 or data_right.shape[0] == 0:
            if X_train.Survived.mean() > 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
    
        if self.depth >= self.max_depth:
            if X_train.Survived.mean() > 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
    
        self.left = DecisionTree(depth=self.depth+1, max_depth=self.max_depth)
        self.left.train(data_left)
        
        self.right = DecisionTree(depth=self.depth+1, max_depth=self.max_depth)
        self.right.train(data_right)
        
        if X_train.Survived.mean() > 0.5:
            self.target = "Survive"
        else:
            self.target = "Dead"
        return
    
    def predict(self, test):
        if test[self.fkey] > self.fval:
            if self.right == None:
                return self.target
            return self.right.predict(test)
        
        if self.left == None:
            return self.target
        return self.left.predict(test)

In [44]:
split = int(0.80*data_clean.shape[0])

train_data = data_clean[:split]
val_data = data_clean[split:]
val_data = val_data.reset_index(drop=True)

In [54]:
dt = DecisionTree()

In [55]:
dt.train(train_data)

0 ##########
1 ##########
2 ##########
3 ##########
4 ##########
5 ##########
5 ##########
4 ##########
5 ##########
5 ##########
3 ##########
4 ##########
5 ##########
5 ##########
4 ##########
5 ##########
5 ##########
2 ##########
3 ##########
4 ##########
5 ##########
5 ##########
4 ##########
5 ##########
5 ##########
3 ##########
4 ##########
5 ##########
5 ##########
4 ##########
5 ##########
5 ##########
1 ##########
2 ##########
3 ##########
4 ##########
5 ##########
5 ##########
4 ##########
5 ##########
5 ##########
3 ##########
4 ##########
5 ##########
5 ##########
4 ##########
5 ##########
5 ##########
2 ##########
3 ##########
4 ##########
5 ##########
5 ##########
4 ##########
5 ##########
5 ##########
3 ##########
4 ##########
5 ##########
5 ##########
4 ##########
5 ##########
5 ##########

In [56]:
print (dt.fkey, dt.fval)

Sex 0.6404494382022472

In [57]:
print (dt.left.fkey, dt.left.fval)
print (dt.right.fkey, dt.right.fval)

Pclass 2.1875
Pclass 2.366228070175439

In [58]:
print (dt.left.left.fkey, dt.left.left.fval)
print (dt.left.right.fkey, dt.left.right.fval)

Fare 68.23490740740742
Fare 15.505064462809916

In [59]:
print (dt.right.left.fkey, dt.right.left.fval)
print (dt.right.right.fkey, dt.right.right.fval)

Parch 0.2620320855614973
Age 27.635441723157662

In [60]:
y_pred = []
for ix in range(val_data.shape[0]):
    y_pred.append(dt.predict(val_data.iloc[ix]))

In [61]:
y_pred[:10]

['Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead']

In [62]:
y_actual = val_data[output_cols]

In [70]:
le = LabelEncoder()
y_pred = le.fit_transform(y_pred).reshape(-1,1)

In [65]:
y_pred[:10]

array([0, 0, 0, 0, 1, 1, 0, 0, 1, 0])

In [66]:
y_actual = np.array(y_actual)

In [71]:
print (y_actual.shape, y_pred.shape)

(179, 1) (179, 1)

In [73]:
np.sum(y_actual == y_pred) / y_pred.shape[0]

0.8268156424581006